# PowerGSLB systemd service

[Unit]
Description=PowerGSLB service

[Service]
# If daemon must run under a specific user
#User=powergslb
#Group=powergslb
Type=notify
ExecStart=/usr/sbin/powergslb -c /etc/powergslb/powergslb.conf
# VirtualEnv Support
#ExecStart=[path to your virtualenv]/bin/python [path to your virtualenv]/powergslb/powergslb -c [path to your virtualenv]/powergslb/powergslb.conf
CapabilityBoundingSet=CAP_NET_RAW
WatchdogSec=3
Restart=on-failure
ProtectSystem=full
PrivateTmp=true

[Install]
WantedBy=multi-user.target
