# stunnel systemd service

[Unit]
Description=stunnel@%I service

[Service]
ExecStart=/usr/bin/stunnel /etc/stunnel/%i.conf
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
